<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaito's Voice Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Kaito's voice assistant</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/message">Voice Assistant</a>
        </nav>
    </header>
    <div class="center-content">
        <div class="center-text">Please Enter Text Below</div>
        <div class="center-form">
            <form method="POST" id="messageForm">
                <label for="message"></label>
                <textarea id="message" name="message" placeholder="Enter text here..."></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <audio id="audioPlayer" controls></audio>
    </div>
</body>
</html>
