<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Audio Response Generator" />
    <title># Your title here</title>
    <link rel="stylesheet" href="" />
    <!-- In href, connect to CSS using url_for -->
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <!-- In script, connect to Javascript using url_for -->
  </head>
  <body>
    <h1># Your header here</h1>
    <!-- Add a message form and audio player below -->
  </body>
</html>
